h2{
    @include h2;
    font-size: 2rem;
    margin-bottom: 4rem;
}

div.admin-liste{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    margin: 1rem 5rem;
    & article{
        margin: 3em;
        width: 580px;
        height: 820px;
        & div.nom-prix{
            display: flex;
            align-items: center;
            width: 100%;
            font-size: 2rem;
            & h3{
                @include seriffont;
                margin: 0 auto 0 0;
                font-weight: 500;
            }
        }
        & a{
            @include hyperlien;
            @include text-roboto;
            @include click;
            margin: 1rem auto;
            justify-content: center;
            width: 40%;
            &:hover{
                background-color: var(--bleu);
                border-color: var(--bleu);
                color: var(--blanc);
            }
            &:last-of-type{
                &:hover{
                    background-color: var(--rougeorange);
                    border-color: var(--rougeorange);
                }
            }
        }
    
        
        
    }
    & div.popup{
        @include popup;
        & button:first-of-type{
            &:hover{
                background-color: var(--rougeorange);
                border-color: var(--rougeorange);
                color: var(--blanc);
            }
        }
    }

    & div.close{
        display: none;
    }
}