@keyframes haut{
    from{ opacity: 0; top: 0;}
    to{opacity: .5; top: -100%;}
}
@keyframes bas{
    from{ opacity: 0; top: 0;}
    to{opacity: .5; top: 100%;}
}

main>header{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    & div.titre-hero{
        position: relative;
        margin: 0 0 0 5em;
        & h1{
            position: relative;
            top: 3.5em;
            font-weight: 300;
            color: var(--gris);
            & strong{
                position: relative;
                top: -3rem;
                @include seriffont;
                font-size: 9rem;
                color: var(--rose);
                text-transform: uppercase;
                &::before{
                    content: 'VOYAGER';
                    position: absolute;
                    top: 0;
                    font-size: 9rem;
                    color: var(--rose);
                    opacity: .5;
                    animation: haut;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                }
                &::after{
                    content: 'VOYAGER';
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 9rem;
                    color: var(--rose);
                    opacity: .5;
                    animation: bas;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                }
            }
        }
        & p{
            @include seriffont;
            color: var(--gris);
        }


    }
    & img {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
    }

    & p.art{
        // position: absolute;
        margin: 0 3em 0 auto;
        @include seriffont;
        font-size: 9rem;
        color: var(--rose);
        z-index: 100;

    }
}