@keyframes haut{
    from{ opacity: 0; top: 0;}
    to{opacity: .5; top: -100%;}
}
@keyframes bas{
    from{ opacity: 0; top: 0;}
    to{opacity: .5; top: 100%;}
}

@keyframes couleur{
    form{color: var(--rose);}
    to{color:var(--rougeorange);}
}

@keyframes defilement{
    from{ right:-1000px}
    to{ right:-450px}
}

main>header{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 80vh;
    max-height: 80vh;
    margin: 0 0 6rem 0;
    overflow: hidden;
    & div.titre-hero{
        position: relative;
        margin: 0 0 0 5em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        & h1{
            position: relative;
            top: 8em;
            left: 5rem;
            font-weight: 300;
            color: var(--gris);
            & strong{
                position: relative;
                top: -3rem;
                @include seriffont;
                font-size: 9rem;
                color: var(--rose);
                text-transform: uppercase;
                &::before{
                    content: 'VOYAGER';
                    position: absolute;
                    top: 0;
                    font-size: 9rem;
                    color: var(--rose);
                    opacity: .5;
                    animation: haut;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    z-index: 1;
                }
                &::after{
                    content: 'VOYAGER';
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 9rem;
                    color: var(--rose);
                    opacity: .5;
                    animation: bas;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    z-index: 1;

                }
            }
            
            & strong.index{
                &::before{
                    animation-delay: 2s;
                }
                &::after{
                    animation-delay: 2s;
                }

            }
        }
        & p{
            @include seriffont;
            position: relative;
            top: 5rem;
            left: 5rem;
            color: var(--gris);
        }


    }
    & img {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 10;
    }

    & p.art{
        @include seriffont;
        position: absolute;
        right: 25rem;
        top: 28rem;
        font-size: 9rem;
        color: var(--rose);
        animation: couleur;
        animation-duration: 15s;
        animation-fill-mode: forwards;
        animation-delay: 2s;
        z-index: 100;
        &:after{
            content: '';
            position: absolute;
            width: 50rem;
            height: 10px;
            top: 100px;
            background-color: var(--rose);
            animation: defilement;
            animation-duration: 45s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;

        }

    }
    div.ariane{
        @include text-roboto;
        position: absolute;
    
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        color: var(--blanc);
        background-color: var(--rose);
        & a{
            @include hyperlien;
            @include text-roboto;
            color: var(--blanc);
            &:hover{
                color: var(--bleu);
            }
        }
    }
}
