header{
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.473);
    & div#sticky{
        display: flex;
        align-items: center;
        & nav{
            display: flex;
            width: 80%;
            & ul{
                display: flex;
                list-style-type: none;
                width: 100%;
                justify-content: space-around;
                & a{
                    @include hyperlien;
                    padding: 1rem;
                }
            }
        }
        & ul.langue{
            display: flex;
            margin: 0 2rem 0 auto;
            list-style-type: none;
            & a{
                @include hyperlien;
                &:first-of-type{
                    &:after{
                        content: "";
                        width: 1px;
                        height: 5px;
                        background-color: var(noir);
                    }
                }
            }
        }
    }
}

div.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2000;
}