header{
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.473);
    & div#sticky{
        display: flex;
        align-items: center;
        & img{
            width: 2rem;
            margin: 0 1rem;
        }
        & nav{
            display: flex;
            width: 80%;
            & ul{
                display: flex;
                list-style-type: none;
                width: 100%;
                justify-content: space-around;
                & a{
                    @include hyperlien;
                    padding: 1rem;
                }
            }
        }
        & ul.client{
            display: flex;
            list-style-type: none;

        }
        & ul.langue{
            @extend ul.client;
            margin: 0 2rem 0 auto;
            & li{
                margin: 0 .2rem;
            }
        }
        & a>img.up{
            transform: rotateZ(-90deg);
        }

        & a.hidden{
            display: none;
        }
    }
}

div.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2000;
}