@keyframes hover-nav{
    from{color: var(--noir);}
    to{color: var(--rougeorange);}
}
@keyframes hover-client{
    from{background-color: none;}
    to{background-color: var(--bleu);}
}
@keyframes hover-langue{
    from{background-color: none;}
    to{background-color: var(--rose);}
}

header{
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.473);
    & div{
        position: relative;
        display: flex;
        align-items: center;
        z-index: 1000;
        & img{
            width: 2rem;
            margin: 0 1rem;
        }
        & nav{
            display: flex;
            width: 80%;
            & ul{
                display: flex;
                list-style-type: none;
                width: 100%;
                justify-content: space-around;
                & a{
                    @include hyperlien;
                    padding: 1rem;
                    &:hover{
                        animation: hover-nav;
                        animation-duration: .2s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }

        & div.soulignement{
            position: absolute;
            width: 5rem;
            height: 5px;
            bottom: 0;
            background-color: var(--rose);
            z-index: 100;
        }

        & ul.client{
            display: flex;
            list-style-type: none;
            margin-right: 8rem;
            & li>img{
                border-radius: 50%;
                cursor: pointer;
                &:hover{
                    animation: hover-client;
                    animation-duration: .2s;
                    animation-fill-mode: forwards;
                }
            }
        }
        & ul.langue{
            @extend ul.client;
            margin: 0 2rem 0 auto;
            & li{
                margin: 0 .2rem;
                // border: 1px solid transparent;
                border-radius: 50%;
                opacity: .3;
                cursor: pointer;
                &:hover{
                    animation: hover-langue;
                    animation-duration: .2s;
                    animation-fill-mode: forwards;
                }
            }
            & li.onFocus{
                opacity: 1;
            }
        }
        & a>img.up{
            transform: rotateZ(-90deg);
        }

        & a#up{
            position: absolute;
            right: 8rem;
            & img{
                border-radius: 50%;
                &:hover{
                    animation: hover-langue;
                    animation-duration: .2s;
                    animation-fill-mode: forwards;
                }
            }
        }

        & a.hidden{
            display: none;
        }
    }
}

div.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2000;
}