section#commander{
    @include flex-column-center;
    background-color: var(--bleu);
    & div.titre-commander{
        position: relative;
        & span{
            @include seriffont;
            position: absolute;
            top: 5rem;
            left: 8rem;
            font-size: 2rem;
            color: var(--gris);
            opacity: .8;
        }
        & h2{
            @include h2;
        }
    }
    & p{
        margin: 1rem;
        & strong{
           @include seriffont;
           margin: 0 1rem;
           font-size: 5rem;
           font-weight: 300;
           color: var(--blanc);
       }
    }
    & strong.one{
        display: inline-block;
        transform:rotateZ(45deg);
    }
    & strong.two{
        display: inline-block;
        transform:rotateZ(-45deg);
    }
    & strong.three{
        display: inline-block;
        transform:rotateZ(20);
    }
    & p:last-of-type{
        margin: 1em 0 6rem 0;
        font-size: 3rem;
        color: var(--blanc);
    }
}