section#produits{
    @include flex-column-center;
    text-align: center;

    & div.titre-section{
        position: relative;
        & h2{
            @include h2;
        }

        & span{
            @include seriffont;
            position: absolute;
            top: 2rem;
            left: 2rem;
            color: var(--gris);
            font-size: 4rem;
            text-transform: uppercase;
            z-index: 50;
            &:last-of-type{
                font-size: 20em;
                top: -4rem;
                left: 3rem;
                opacity: 0.2;
                z-index: 20;
            }
        }
    }

    & article.detail{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 3rem 0 7rem 0;
        justify-content: space-between;
        max-width: 1120px;
        & h3{
            @include seriffont;
            position: absolute;
            right: -1rem;
            top: -3rem;
            font-size: 10rem;
            &:after{
                content: '';
                position: absolute;
                top: 13rem;
                right: -30rem;
                width: 40vw;
                height: 5px;
                background-color: var(--noir);
            }
        }
        & img{
            margin: 2rem auto;
        }
        & p{
            width: 50%;
            text-align: left;
        }
        & div.prix-panier{
            @include flex-column-center;
            & p{
                font-size: 2rem;
                margin: 0;
            }
            & a{
                @include hyperlien;
                @include click;
                @include text-roboto;
                margin: 2rem 0;
                padding: .8rem;
                transition: .2s;
                &:hover{
                    border-color: var(--bleu);
                    color: var(--blanc);
                    background-color: var(--bleu);
                }
            }
        }
    }

    & h4{
        @include seriffont;
        position: relative;
        width: 100vw;
        left: 0;
        right: 0;
        margin: 0 0 3rem 0;
        font-size: 3rem;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 2rem;
            width: 30vw;
            height: 10px;
            background-color: var(--rose);
        }
        &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 2rem;
            width: 30vw;
            height: 10px;
            background-color: var(--rose);
        }
    }

    & div.suggestions{
        display: flex;
        margin: 0 0 5rem 0;
        & article {
            margin: 0 2rem;
            width: 360px;
            justify-content: space-around;
            div.nom-prix{
                text-align: left;
                & h5{
                    @include seriffont;
                    font-size: 2rem;
                }
            }
            & a{
                @include bouton-liste;
                margin: auto 0;
                font-size: 4rem;
            }
        }
    }

}