@keyframes hover-social{
    from{background-color: none;}
    to{background-color: var(--bleu);}
}
@keyframes hover-form{
    from{background-color: var(--rose);}
    to{background-color: var(--jaune);}
}

section#question{
    @include flex-column-center;
    justify-content: space-around;
    margin: 3em 0 6em 0;
    & h2{
        @include h2;
    }
    & div.contenu-question{
        display: flex;
        & div.info{
            position: relative;
            top: -4rem;
            margin: 0 5rem;
            & img{
                margin: 2rem auto;
            }
            & address{
                @include text-roboto;
                text-transform: italic;
            }

            & ul.social{
                display: flex;
                justify-content: space-evenly;
                list-style-type: none;
                & img{
                    width: 2rem;
                    border-radius: 50%;
                    &:hover{
                        animation: hover-social;
                        animation-duration: .2s;
                        animation-fill-mode: forwards;
                    }
                    
                }
            }
        }
        & form{
            @include flex-column-center;
            margin: auto;
            & input{
                @include text-roboto;
                width: 40em;
                margin: 0 1rem 1rem 1rem;
                padding: .5rem;
                border: none;
                border-radius: 3px;
                background-color: var(--rose);
                &:focus{
                    animation:hover-form;
                    animation-duration: .2s;
                    animation-fill-mode: forwards;
                }
                &:last-of-type{
                    @include click;
                    width: 10em;
                    border-color: var(--rose);
                    color: var(--rose);
                    font-size: 1rem;
                    background-color: var(--blanc);
                    transition: .2s;
                    &:hover{
                        border-color: var(--rose);
                        color: var(--blanc);
                        background-color: var(--rose);
                    }
                }
            }
        }
    }
}
