@keyframes hover-fleche{
    from{background-color: none;}
    to{background-color: var(--bleu);}
}

.carousel{
    @include flex-column-center;
    position: relative;
    height: 580px;
    width: 50%;
    margin: 4rem auto;

    & .carousel-fleche{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: 0;
        cursor: pointer;
        & img{
            width: 3rem;
            z-index: 100;
            border-radius: 50%;
            &:hover{
                animation: hover-fleche;
                animation-duration: .2s;
                animation-fill-mode: forwards;
            }
        }
    }
    
    & .gauche{
        left:-4rem;
        transform: rotateZ(180deg);
    }
    & .droite{
        right:-4rem;
    }

    & .cacher{
        display: none;
    }
    
    & .carousel_liste-container{
        height: 100%;
        width: 468px;
        position: relative;
        overflow: hidden;

        & .carousel-liste{
            list-style-type: none;
            position: relative;
            height: 100%;
            transition: transform 250ms ease-in;
            
            & .carousel-item{
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;

                & .carousel-image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    & .carousel-nav{
        display: flex;
        justify-content: center;
        padding: 10px 0;
        & .carousel-indicator{
            border: 0;
            border-radius: 50%;
            height: 15px;
            width: 15px;
            margin: 0 12px;
            background-color: rgba(0,0,0,0.3);
            cursor: pointer;
            &:first-of-type{
                &:hover{
                    background-color: var(--jaune);
                }
            }
            &:last-of-type{
                &:hover{
                    background-color: var(--bleu);
                }
            }
            &:hover{
                background-color: var(--rose);
            }
        }
        & .focus{
            background-color: rgba(0,0,0,0.7);
        }
    }

}


a.voirProduit{
    @include hyperlien;
    @include click;
    @include text-roboto;
    padding: 1rem;
    margin-bottom: 3rem;
    transition: .2s;
    &:hover{
        border-color: var(--bleu);
        color: var(--blanc);
        background-color: var(--bleu);
    }
}