:root {
  --rose: #f2b3bf;
  --bleu:#a0f2f2;
  --jaune:#f2ce1b;
  --orange:#f2a007;
  --rougeorange:#f25d07;
  --gris:#454545;
  --blanc:#fff;
  --noir:#000;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, main > header div.titre-hero span {
  letter-spacing: .25rem;
  line-height: 2rem;
}

@-webkit-keyframes haut {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: .5;
    top: 0;
  }
}

@keyframes haut {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: .5;
    top: 0;
  }
}

@-webkit-keyframes bas {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: .5;
    top: 100%;
  }
}

@keyframes bas {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: .5;
    top: 100%;
  }
}

main > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100vh;
}

main > header div.titre-hero {
  position: relative;
  margin: 0 0 0 5em;
}

main > header div.titre-hero h1 {
  position: relative;
  top: 3.5em;
  font-weight: 300;
  color: var(--gris);
}

main > header div.titre-hero h1 strong {
  position: relative;
  top: -3rem;
  font-family: 'Playfair Display', serif;
  font-size: 9rem;
  color: var(--rose);
}

main > header div.titre-hero p, main > header div.titre-hero span {
  font-family: 'Playfair Display', serif;
  color: var(--gris);
}

main > header div.titre-hero span {
  position: absolute;
  font-size: 9rem;
  color: var(--rose);
  opacity: .5;
}

main > header div.titre-hero span:first-of-type {
  -webkit-animation: haut;
          animation: haut;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main > header div.titre-hero span:last-of-type {
  -webkit-animation: bas;
          animation: bas;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main > header img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

main > header p.art, main > header div.titre-hero span.art {
  margin: 0 3em 0 auto;
  font-family: 'Playfair Display', serif;
  font-size: 9rem;
  color: var(--rose);
  z-index: 100;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--rose);
}

section.listeProduits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.listeProduits div.liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.listeProduits article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em;
  width: 580px;
}

section.listeProduits article div.nom-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 2rem;
}

section.listeProduits article div.nom-prix h3 {
  font-family: 'Playfair Display', serif;
  margin: 0 auto 0 0;
  font-weight: 500;
}

section.listeProduits article p, section.listeProduits article main > header div.titre-hero span, main > header div.titre-hero section.listeProduits article span {
  letter-spacing: .25rem;
  line-height: 2rem;
}

section.listeProduits article a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--noir);
  font-size: 6rem;
}

section#commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bleu);
}

section#commander div.titre-commander {
  position: relative;
}

section#commander div.titre-commander span {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 5rem;
  left: 8rem;
  font-size: 2rem;
  color: var(--gris);
  opacity: .8;
}

section#commander div.titre-commander h2 {
  font-family: 'Playfair Display', serif;
  margin: 1em;
  color: var(--gris);
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
}

section#commander p, section#commander main > header div.titre-hero span, main > header div.titre-hero section#commander span {
  margin: 1rem;
}

section#commander p strong, section#commander main > header div.titre-hero span strong, main > header div.titre-hero section#commander span strong {
  font-family: 'Playfair Display', serif;
  margin: 0 1rem;
  font-size: 5rem;
  font-weight: 300;
  color: var(--blanc);
}

section#commander strong.one {
  display: inline-block;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

section#commander strong.two {
  display: inline-block;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

section#commander strong.three {
  display: inline-block;
  -webkit-transform: rotateZ(20);
          transform: rotateZ(20);
}

section#commander p:last-of-type, section#commander main > header div.titre-hero span:last-of-type, main > header div.titre-hero section#commander span:last-of-type {
  margin: 1em 0 6rem 0;
  font-size: 3rem;
  color: var(--blanc);
}

section#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 5em 0;
}

section#about h2 {
  font-family: 'Playfair Display', serif;
  margin: 0 auto 0 5rem;
  font-size: 20em;
  color: var(--gris);
  z-index: 75;
}

section#about div.contenue-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section#about div.contenue-about div.info {
  width: 40%;
  margin: 0 auto 0 5rem;
}

section#about div.contenue-about div.info p, section#about div.contenue-about div.info main > header div.titre-hero span, main > header div.titre-hero section#about div.contenue-about div.info span {
  margin: 2rem 0;
}

section#about div.contenue-about div.sculpture {
  font-family: 'Playfair Display', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  right: 20rem;
  top: 0;
  bottom: 0;
  font-size: 8em;
  color: var(--rose);
  z-index: 50;
  overflow: hidden;
}

section#about img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 650px;
  z-index: 100;
}

section#horaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--jaune);
}

section#horaire h2 {
  font-family: 'Playfair Display', serif;
  margin: 1em;
  color: var(--gris);
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
}

section#horaire div.horaire-contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 5rem 0;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section#horaire div.horaire-contenu table {
  letter-spacing: .25rem;
  line-height: 2rem;
  width: 45%;
}

section#horaire div.horaire-contenu p, section#horaire div.horaire-contenu main > header div.titre-hero span, main > header div.titre-hero section#horaire div.horaire-contenu span {
  width: 45%;
}

section#livraison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--jaune);
  text-align: center;
}

section#livraison h2 {
  font-family: 'Playfair Display', serif;
  margin: 1em;
  color: var(--gris);
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
}

section#livraison form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 3rem 0;
}

section#livraison form input {
  letter-spacing: .25rem;
  line-height: 2rem;
  margin: 1rem;
  border: none;
  padding: .8rem;
  font-size: 1rem;
}

section#livraison form input.submit {
  border: 3px solid var(--gris);
  border-radius: 1rem;
  color: var(--gris);
  font-weight: 700;
  background-color: var(--jaune);
  -webkit-transition: .2s;
  transition: .2s;
}

section#livraison form input.submit:hover {
  border-color: var(--blanc);
  background-color: var(--blanc);
}

section#promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#promotion h2 {
  font-family: 'Playfair Display', serif;
  margin: 1em;
  color: var(--gris);
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
}

section#promotion article {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#promotion article img {
  width: 100%;
}

section#promotion article div.contenu-promo {
  margin: 0 2rem;
}

section#promotion article div.contenu-promo h3 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 500;
}

section#promotion article div.contenu-promo p.price, section#promotion article div.contenu-promo main > header div.titre-hero span.price, main > header div.titre-hero section#promotion article div.contenu-promo span.price, section#promotion article div.contenu-promo p.first-price, section#promotion article div.contenu-promo main > header div.titre-hero span.first-price, main > header div.titre-hero section#promotion article div.contenu-promo span.first-price {
  margin: 2rem 0;
  font-size: 3rem;
}

section#promotion article div.contenu-promo p.first-price, section#promotion article div.contenu-promo main > header div.titre-hero span.first-price, main > header div.titre-hero section#promotion article div.contenu-promo span.first-price {
  color: var(--rougeorange);
  text-decoration: line-through;
}

section#promotion a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--noir);
  letter-spacing: .25rem;
  line-height: 2rem;
  margin: 4em 0;
  padding: 1rem;
  border: 3px solid var(--gris);
  border-radius: 1rem;
  color: var(--gris);
  font-weight: 800;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.473);
}

header nav.principale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

header nav.principale ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav.principale ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--noir);
  padding: 1rem;
}

header ul.langue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2rem 0 auto;
  list-style-type: none;
}

header ul.langue a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--noir);
}

header ul.langue a:first-of-type:after {
  content: "";
  width: 1px;
  height: 5px;
  background-color: var(noir);
}
/*# sourceMappingURL=style.css.map */