:root {
  --rose: #f2b3bf;
  --bleu:#a0f2f2;
  --jaune:#f2ce1b;
  --orange:#f2a007;
  --rougeorange:#f25d07;
  --gris:#454545;
  --blanc:#fff;
  --noir:#000;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, main > header div.titre-hero span {
  letter-spacing: .25rem;
  line-height: 2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--rose);
}

footer p:last-of-type, footer main > header div.titre-hero span:last-of-type, main > header div.titre-hero footer span:last-of-type {
  font-size: .4rem;
  opacity: .5;
}

@-webkit-keyframes haut {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: .5;
    top: 0;
  }
}

@keyframes haut {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: .5;
    top: 0;
  }
}

@-webkit-keyframes bas {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: .5;
    top: 100%;
  }
}

@keyframes bas {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: .5;
    top: 100%;
  }
}

main > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100vh;
}

main > header div.titre-hero {
  position: relative;
  margin: 0 0 0 5em;
}

main > header div.titre-hero h1 {
  position: relative;
  top: 3.5em;
  font-weight: 300;
  color: var(--gris);
}

main > header div.titre-hero h1 strong {
  position: relative;
  top: -3rem;
  font-family: 'Playfair Display', serif;
  font-size: 9rem;
  color: var(--rose);
}

main > header div.titre-hero p, main > header div.titre-hero span {
  font-family: 'Playfair Display', serif;
  color: var(--gris);
}

main > header div.titre-hero span {
  position: absolute;
  font-size: 9rem;
  color: var(--rose);
  opacity: .5;
}

main > header div.titre-hero span:first-of-type {
  -webkit-animation: haut;
          animation: haut;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main > header div.titre-hero span:last-of-type {
  -webkit-animation: bas;
          animation: bas;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main > header img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

main > header p.art, main > header div.titre-hero span.art {
  margin: 0 3em 0 auto;
  font-family: 'Playfair Display', serif;
  font-size: 9rem;
  color: var(--rose);
  z-index: 100;
}

section.listeProduits div.liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.listeProduits article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em;
  width: 580px;
  height: 820px;
}

section.listeProduits article div.nom-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 2rem;
}

section.listeProduits article div.nom-prix h3 {
  font-family: 'Playfair Display', serif;
  margin: 0 auto 0 0;
  font-weight: 500;
}

section.listeProduits article p, section.listeProduits article main > header div.titre-hero span, main > header div.titre-hero section.listeProduits article span {
  letter-spacing: .25rem;
  line-height: 2rem;
}

section.listeProduits article a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--noir);
  border: 3px solid var(--gris);
  border-radius: 1rem;
  color: var(--gris);
  font-weight: 800;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0 0 0;
  height: .8em;
  width: .8em;
  border-radius: 50%;
  font-size: 6rem;
  -webkit-transition: .2s;
  transition: .2s;
}

section.listeProduits article a:hover {
  border-color: var(--bleu);
  color: var(--blanc);
  background-color: var(--bleu);
}

section#produits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section#produits div.titre-section {
  position: relative;
}

section#produits div.titre-section h2 {
  font-family: 'Playfair Display', serif;
  margin: 1em;
  color: var(--gris);
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
}

section#produits div.titre-section span {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: var(--gris);
  font-size: 4rem;
  text-transform: uppercase;
  z-index: 50;
}

section#produits div.titre-section span:last-of-type {
  font-size: 20em;
  top: -4rem;
  left: 3rem;
  opacity: 0.2;
  z-index: 20;
}

section#produits article.detail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem 0 7rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1120px;
}

section#produits article.detail h3 {
  font-family: 'Playfair Display', serif;
  position: absolute;
  right: -1rem;
  top: -3rem;
  font-size: 10rem;
}

section#produits article.detail h3:after {
  content: '';
  position: absolute;
  top: 13rem;
  right: -15rem;
  width: 30rem;
  height: 5px;
  background-color: var(--noir);
}

section#produits article.detail img {
  margin: 2rem auto;
}

section#produits article.detail p, section#produits article.detail main > header div.titre-hero span, main > header div.titre-hero section#produits article.detail span {
  width: 50%;
  text-align: left;
}

section#produits article.detail div.prix-panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#produits article.detail div.prix-panier p, section#produits article.detail div.prix-panier main > header div.titre-hero span, main > header div.titre-hero section#produits article.detail div.prix-panier span {
  font-size: 2rem;
  margin: 0;
}

section#produits article.detail div.prix-panier a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--noir);
  border: 3px solid var(--gris);
  border-radius: 1rem;
  color: var(--gris);
  font-weight: 800;
  letter-spacing: .25rem;
  line-height: 2rem;
  margin: 2rem 0;
  padding: .8rem;
  -webkit-transition: .2s;
  transition: .2s;
}

section#produits article.detail div.prix-panier a:hover {
  border-color: var(--bleu);
  color: var(--blanc);
  background-color: var(--bleu);
}

section#produits h4 {
  font-family: 'Playfair Display', serif;
  position: relative;
  width: 100vw;
  left: 0;
  right: 0;
  font-size: 3rem;
}

section#produits h4:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2rem;
  width: 35rem;
  height: 10px;
  background-color: var(--rose);
}

section#produits h4:after {
  content: '';
  position: absolute;
  right: 0;
  top: 2rem;
  width: 35rem;
  height: 10px;
  background-color: var(--rose);
}

section#produits div.suggestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 4rem 0;
}

section#produits div.suggestions article {
  margin: 0 2rem;
  width: 360px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section#produits div.suggestions article div.nom-prix {
  text-align: left;
}

section#produits div.suggestions article div.nom-prix h5 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

section#produits div.suggestions article a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--noir);
  border: 3px solid var(--gris);
  border-radius: 1rem;
  color: var(--gris);
  font-weight: 800;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0 0 0;
  height: .8em;
  width: .8em;
  border-radius: 50%;
  font-size: 6rem;
  -webkit-transition: .2s;
  transition: .2s;
  margin: auto 0;
  font-size: 4rem;
}

section#produits div.suggestions article a:hover {
  border-color: var(--bleu);
  color: var(--blanc);
  background-color: var(--bleu);
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 580px;
  width: 50%;
  margin: 4rem auto;
}

.carousel .carousel-fleche {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel .carousel-fleche img {
  width: 3rem;
  z-index: 100;
}

.carousel .gauche {
  left: -4rem;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.carousel .droite {
  right: -4rem;
}

.carousel .cacher {
  display: none;
}

.carousel .carousel_liste-container {
  height: 100%;
  width: 468px;
  position: relative;
  overflow: hidden;
}

.carousel .carousel_liste-container .carousel-liste {
  list-style-type: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.carousel .carousel_liste-container .carousel-liste .carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel .carousel_liste-container .carousel-liste .carousel-item .carousel-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel .carousel-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.carousel .carousel-nav .carousel-indicator {
  border: 0;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0 12px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.carousel .carousel-nav .focus {
  background-color: rgba(0, 0, 0, 0.7);
}

a.voirProduit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--noir);
  border: 3px solid var(--gris);
  border-radius: 1rem;
  color: var(--gris);
  font-weight: 800;
  letter-spacing: .25rem;
  line-height: 2rem;
  padding: 1rem;
  margin-bottom: 3rem;
  -webkit-transition: .2s;
  transition: .2s;
}

a.voirProduit:hover {
  border-color: var(--bleu);
  color: var(--blanc);
  background-color: var(--bleu);
}

section#commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bleu);
}

section#commander div.titre-commander {
  position: relative;
}

section#commander div.titre-commander span {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 5rem;
  left: 8rem;
  font-size: 2rem;
  color: var(--gris);
  opacity: .8;
}

section#commander div.titre-commander h2 {
  font-family: 'Playfair Display', serif;
  margin: 1em;
  color: var(--gris);
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
}

section#commander p, section#commander main > header div.titre-hero span, main > header div.titre-hero section#commander span {
  margin: 1rem;
}

section#commander p strong, section#commander main > header div.titre-hero span strong, main > header div.titre-hero section#commander span strong {
  font-family: 'Playfair Display', serif;
  margin: 0 1rem;
  font-size: 5rem;
  font-weight: 300;
  color: var(--blanc);
}

section#commander strong.one {
  display: inline-block;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

section#commander strong.two {
  display: inline-block;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

section#commander strong.three {
  display: inline-block;
  -webkit-transform: rotateZ(20);
          transform: rotateZ(20);
}

section#commander p:last-of-type, section#commander main > header div.titre-hero span:last-of-type, main > header div.titre-hero section#commander span:last-of-type {
  margin: 1em 0 6rem 0;
  font-size: 3rem;
  color: var(--blanc);
}

section#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 5em 0;
}

section#about h2 {
  font-family: 'Playfair Display', serif;
  margin: 0 auto 0 5rem;
  font-size: 20em;
  color: var(--gris);
  z-index: 75;
}

section#about div.contenue-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section#about div.contenue-about div.info {
  width: 40%;
  margin: 0 auto 0 5rem;
  z-index: 55;
}

section#about div.contenue-about div.info p, section#about div.contenue-about div.info main > header div.titre-hero span, main > header div.titre-hero section#about div.contenue-about div.info span {
  margin: 2rem 0;
}

section#about div.contenue-about div.sculpture {
  font-family: 'Playfair Display', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  right: 20rem;
  top: 0;
  bottom: 0;
  font-size: 8em;
  color: var(--rose);
  z-index: 50;
  overflow: hidden;
}

section#about img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 650px;
  z-index: 100;
}

section#horaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--jaune);
  position: relative;
}

section#horaire h2 {
  font-family: 'Playfair Display', serif;
  margin: 1em;
  color: var(--gris);
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
}

section#horaire div.horaire-contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 5rem 0;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section#horaire div.horaire-contenu table {
  letter-spacing: .25rem;
  line-height: 2rem;
  width: 45%;
  z-index: 50;
}

section#horaire div.horaire-contenu table:before {
  content: "";
  position: absolute;
  right: -5rem;
  top: 0;
  width: 30rem;
  height: 30rem;
  background-color: var(--bleu);
  border-radius: 50%;
  overflow: hidden;
  z-index: 10;
}

section#horaire div.horaire-contenu table tr > td {
  z-index: 500;
}

section#horaire div.horaire-contenu p, section#horaire div.horaire-contenu main > header div.titre-hero span, main > header div.titre-hero section#horaire div.horaire-contenu span {
  width: 45%;
}

section#livraison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--jaune);
  text-align: center;
}

section#livraison h2 {
  font-family: 'Playfair Display', serif;
  margin: 1em;
  color: var(--gris);
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
}

section#livraison form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 3rem 0;
}

section#livraison form input {
  letter-spacing: .25rem;
  line-height: 2rem;
  margin: 1rem;
  border: none;
  padding: .8rem;
  font-size: 1rem;
}

section#livraison form input.submit {
  border: 3px solid var(--gris);
  border-radius: 1rem;
  color: var(--gris);
  font-weight: 800;
  border-color: var(--blanc);
  color: var(--blanc);
  background-color: var(--jaune);
  -webkit-transition: .2s;
  transition: .2s;
}

section#livraison form input.submit:hover {
  border-color: var(--gris);
  color: var(--jaune);
  background-color: var(--gris);
}

section#promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#promotion h2 {
  font-family: 'Playfair Display', serif;
  margin: 1em;
  color: var(--gris);
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
}

section#promotion article {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#promotion article img {
  width: 100%;
}

section#promotion article div.contenu-promo {
  margin: 0 2rem;
}

section#promotion article div.contenu-promo h3 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 500;
}

section#promotion article div.contenu-promo p.price, section#promotion article div.contenu-promo main > header div.titre-hero span.price, main > header div.titre-hero section#promotion article div.contenu-promo span.price, section#promotion article div.contenu-promo p.first-price, section#promotion article div.contenu-promo main > header div.titre-hero span.first-price, main > header div.titre-hero section#promotion article div.contenu-promo span.first-price {
  margin: 2rem 0;
  font-size: 3rem;
}

section#promotion article div.contenu-promo p.first-price, section#promotion article div.contenu-promo main > header div.titre-hero span.first-price, main > header div.titre-hero section#promotion article div.contenu-promo span.first-price {
  color: var(--rougeorange);
  text-decoration: line-through;
}

section#promotion a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--noir);
  letter-spacing: .25rem;
  line-height: 2rem;
  margin: 4em 0;
  padding: .8rem;
  border: 3px solid var(--gris);
  border-radius: 1rem;
  color: var(--gris);
  font-weight: 800;
}

section#question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3em 0 6em 0;
}

section#question h2 {
  font-family: 'Playfair Display', serif;
  margin: 1em;
  color: var(--gris);
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
}

section#question div.contenu-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#question div.contenu-question div.info address {
  letter-spacing: .25rem;
  line-height: 2rem;
  text-transform: italic;
}

section#question div.contenu-question form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#question div.contenu-question form input {
  letter-spacing: .25rem;
  line-height: 2rem;
  width: 40em;
  margin: 0 1rem 1rem 1rem;
  padding: .5rem;
  border: none;
  border-radius: 3px;
  background-color: var(--rose);
}

section#question div.contenu-question form input:last-of-type {
  border: 3px solid var(--gris);
  border-radius: 1rem;
  color: var(--gris);
  font-weight: 800;
  width: 10em;
  border-color: var(--rose);
  color: var(--rose);
  font-size: 1rem;
  background-color: var(--blanc);
  -webkit-transition: .2s;
  transition: .2s;
}

section#question div.contenu-question form input:last-of-type:hover {
  border-color: var(--rose);
  color: var(--blanc);
  background-color: var(--rose);
}

header {
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.473);
}

header div#sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div#sticky nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

header div#sticky nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header div#sticky nav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--noir);
  padding: 1rem;
}

header div#sticky ul.langue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2rem 0 auto;
  list-style-type: none;
}

header div#sticky ul.langue a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--noir);
}

header div#sticky ul.langue a:first-of-type:after {
  content: "";
  width: 1px;
  height: 5px;
  background-color: var(noir);
}

div.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2000;
}
/*# sourceMappingURL=style.css.map */